#home-page > section {
     > div {
        max-width: 1980px;
        margin: 0 auto;
        padding: 104px 120px;
    }

    p {
        font-size: 40px;
        font-family: 'Inconsolata';
        line-height: 41px;
    }
}

