section#about-us {
    h1 {
        margin-bottom: 97px;
    }

    .container {
        flex-wrap: wrap;
        gap: 88px;
        justify-content: center;

        &:last-child {
            flex-wrap: wrap-reverse;
            margin-top: 277px;
        }

        .dinning-img {
            flex: 1 1 600px;

            img {
                border-radius: 24px;
            }
        }

        .bio-img {
            width: 40%;
        }

        p {
            flex: 1 1 600px;
        }
    }
}

