section#menu {
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            border-right: 1px solid black;
            flex: 1;
            min-width: 100px;
            font-size: 18px;

            &:last-of-type {
                border: none;
                min-width: none;
            }
        }

    }
}
