section#mid-splash {
    .background {
        background-image: url(../../images/home/mid-splash.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }
}